@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    font-family: var(--fonts-body);
    color: white;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
